autopep8
certifi
chardet
colorama
configparser
crayons
Django
idna
python-dotenv
pytz
sqlparse
toml
webdriver-manager
setuptools
dj_database_url
django-environ
djangorestframework
psycopg2-binary
urllib3
django-tailwind
django-browser-reload
Celery
django-celery-beat 
django-celery-results
python-decouple
redis
jupyter
selenium
beautifulsoup4